@import "react-clock/dist/Clock.css";

body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #93415c;
}

#root {
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}