@import url("https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  div[data-theme="cute"] {
    /* LIGHT MODE */
    --color-primary: #4e1b2b;
    --color-secondary: #8a1333;
    --color-background: #e9d6da;
    --color-surface: #efe9ea;
    --color-on-background: 138, 19, 51;
    --color-on-primary: #e9d6da;
    --color-on-secondary: #47202c;
    --color-on-surface: 0, 0, 0;
    /* DARK MODE */
    --color-darkmode-primary: #ff99b5;
    --color-darkmode-secondary: #ff99b5;
    --color-darkmode-background: #47202c;
    --color-darkmode-surface: 34, 31, 28;
    --color-darkmode-raised-surface: #47202c;
    --color-darkmode-on-background: 238, 217, 210;
    --color-darkmode-on-primary: #000000;
    --color-darkmode-on-secondary: #000000;
    --color-darkmode-on-surface: 255, 255, 255;
  }
}
